.fg-container {
    position: fixed;
    overflow: hidden;
    background-image: url('/images/fusiongamebg.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0; 
}

/* Score Display Animation*/

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
.animate-shake {
    animation: shake 0.5s ease;
}

/* Dual N Back */

.dnb-container .start-button, .summary .start-button  {
    background: green;  /* Light grey background */
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 10px 5px 5px 0px;
    width: 180px;
    height: 40px;
    align-self: center;
  }
  
 .dnb-container .start-button:hover, .summary .start-button:hover{
    background: rgb(1, 109, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  
.dnb-container .start-button:active, .summary .start-button:active {
    background: rgb(1, 109, 1);
    transform: scale(0.98);
  }

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}