.fg-container {
    position: fixed;
    overflow: hidden;
    background-image: url('/images/fusiongamebg.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0; 
}

/* Score Display */

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
.animate-shake {
    animation: shake 0.5s ease;
}