.vg-container {
    position: fixed;
    overflow: hidden;
    background-image: url('/images/visualgamebg.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0; 
  }

  .vg-header {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: white;
  }