@font-face {
  font-family: 'Silkscreen';
  src: url('fonts/slkscr.ttf') format('truetype'),
       url('fonts/slkscrb.ttf') format('truetype'); /* Bold version */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Silkscreen', sans-serif;
}

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.timer-bar {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0; /* Grey background */
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.timer-bar-fill {
  height: 100%;
  background-color: #76c7c0; /* Light teal color */
  transition: width 1s linear;
}

.app-container {
  position: relative;
  overflow: hidden;
  background-image: url('/images/background.jpg'); /* Path to the background image */
  background-size: cover; /* Ensures the image covers the entire screen */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center; /* Centers the Play button horizontally */
  align-items: center; /* Centers the Play button vertically */
  margin: 0; /* Removes default margin */
  /* transition: transform 2s ease-in-out; */
}

.app-container.slide-up {
  transform: translateY(-100vh);
  transition: transform 2s ease-in-out; 
}

.play-button img:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

.bubble {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(0);
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  animation: bubble-rise 2s ease-in infinite;
  opacity: 0;
}

@keyframes bubble-rise {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) scale(0.5);
    opacity: 0;
  }
}

* {
  cursor: url('/images/cursor.cur'), auto !important;
}

button, a, .play-button, .clickable {
  cursor: url('/images/cursor.cur'), auto !important;
}
